BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: #134170; PADDING-BOTTOM: 15px; MARGIN: 0px; FONT: 11px/11px Arial, Helvetica, "Sans Serif"; COLOR: #333; PADDING-TOP: 15px; TEXT-ALIGN: center
}
H1 {
	FONT-WEIGHT: bold; COLOR: #333; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif
}
H2 {
	FONT-WEIGHT: bold; COLOR: #333; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif
}
H3 {
	FONT-WEIGHT: bold; COLOR: #333; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif
}
H4 {
	FONT-WEIGHT: bold; COLOR: #333; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif
}
H5 {
	FONT-WEIGHT: bold; COLOR: #333; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif
}
H6 {
	FONT-WEIGHT: bold; COLOR: #333; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif
}
H1 {
	FONT-SIZE: 2.4em
}
H2 {
	FONT-SIZE: 2em
}
H3 {
	FONT-SIZE: 1.8em
}
H4 {
	FONT-SIZE: 1.2em
}
H5 {
	FONT-SIZE: 1em
}
H6 {
	FONT-SIZE: 0.8em
}
UL {
	LIST-STYLE-IMAGE: url(../images/arrow_orange.png); LIST-STYLE-TYPE: square
}
LI {
	
}
TD {
	FONT: 11px Arial, Helvetica, "Sans Serif"; COLOR: #333
}
A:link {
	COLOR: #f60; TEXT-DECORATION: none
}
A:visited {
	COLOR: #f60; TEXT-DECORATION: none
}
A:active {
	COLOR: #c30
}
A:hover {
	COLOR: #c30
}
FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.moduletable {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 100%; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
#box-top TABLE.moduletable {
	WIDTH: auto
}
.moduletable TH {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; BACKGROUND: url(../images/th_bg.png) #68a left center; PADDING-BOTTOM: 3px; FONT: bold 11px/15px Arial, Helvetica, sans-serif; TEXT-TRANSFORM: uppercase; COLOR: #eef; TEXT-INDENT: 18px; PADDING-TOP: 3px; TEXT-ALIGN: left
}
.moduletable TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; FONT: 11px Arial, Helvetica, sans-serif; PADDING-TOP: 0px; TEXT-ALIGN: left
}
.moduletable TD UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; LIST-STYLE-IMAGE: url(../images/arrow_blue.png); PADDING-BOTTOM: 0px; MARGIN: 2px 0px 2px 20px; PADDING-TOP: 0px; LIST-STYLE-TYPE: square
}
.moduletable TD UL A:link {
	COLOR: #346
}
.moduletable TD UL A:visited {
	COLOR: #346
}
.moduletable TD UL A:active {
	COLOR: #f90
}
.moduletable TD UL A:hover {
	COLOR: #f90
}
#box-top .moduletable TH {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 1px; FONT: bold 12px/14px Arial, Helvetica, sans-serif; TEXT-TRANSFORM: uppercase; COLOR: #fff; TEXT-INDENT: 4px; PADDING-TOP: 1px; TEXT-ALIGN: left
}
#box-top .moduletable TD {
	COLOR: #fff
}
TABLE.pollstableborder TD {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
TABLE.contentpaneopen {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 5px; WIDTH: 100%; PADDING-TOP: 0px
}
TABLE.contentpaneopen TD {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
TABLE.contentpaneopen TD.componentheading {
	PADDING-LEFT: 4px
}
TABLE.contentpane {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 100%; PADDING-TOP: 0px
}
TABLE.contentpane TD {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
TABLE.contentpane TD.componentheading {
	PADDING-LEFT: 4px
}
.back_button {
	BORDER-RIGHT: #ccc 3px double; PADDING-RIGHT: 5px; BORDER-TOP: #ccc 3px double; PADDING-LEFT: 5px; BACKGROUND: url(../images/button_bg.png) #fff no-repeat center center; PADDING-BOTTOM: 1px; MARGIN: 1px; FONT: bold 11px/18px Arial, Helvetica, sans-serif; BORDER-LEFT: #ccc 3px double; WIDTH: auto; COLOR: #f60; PADDING-TOP: 1px; BORDER-BOTTOM: #ccc 3px double; TEXT-ALIGN: center
}
.button {
	BORDER-RIGHT: #ccc 3px double; PADDING-RIGHT: 5px; BORDER-TOP: #ccc 3px double; PADDING-LEFT: 5px; BACKGROUND: url(../images/button_bg.png) #fff no-repeat center center; PADDING-BOTTOM: 1px; MARGIN: 1px; FONT: bold 11px/18px Arial, Helvetica, sans-serif; BORDER-LEFT: #ccc 3px double; WIDTH: auto; COLOR: #f60; PADDING-TOP: 1px; BORDER-BOTTOM: #ccc 3px double; TEXT-ALIGN: center
}
.readon {
	BORDER-RIGHT: #ccc 3px double; PADDING-RIGHT: 5px; BORDER-TOP: #ccc 3px double; PADDING-LEFT: 5px; BACKGROUND: url(../images/button_bg.png) #fff no-repeat center center; PADDING-BOTTOM: 1px; MARGIN: 1px; FONT: bold 11px/18px Arial, Helvetica, sans-serif; BORDER-LEFT: #ccc 3px double; WIDTH: auto; COLOR: #f60; PADDING-TOP: 1px; BORDER-BOTTOM: #ccc 3px double; TEXT-ALIGN: center
}
.pagenav {
	BORDER-RIGHT: #ccc 3px double; PADDING-RIGHT: 5px; BORDER-TOP: #ccc 3px double; PADDING-LEFT: 5px; BACKGROUND: url(../images/button_bg.png) #fff no-repeat center center; PADDING-BOTTOM: 1px; MARGIN: 1px; FONT: bold 11px/18px Arial, Helvetica, sans-serif; BORDER-LEFT: #ccc 3px double; WIDTH: auto; COLOR: #f60; PADDING-TOP: 1px; BORDER-BOTTOM: #ccc 3px double; TEXT-ALIGN: center
}
.back_button {
	CLEAR: both; FLOAT: left
}
.readon {
	BORDER-TOP-WIDTH: 0px; CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 14px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: url(../images/readon.png) no-repeat 0px 0px; FLOAT: left; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; TEXT-ALIGN: left; BORDER-RIGHT-WIDTH: 0px
}
.button {
	FLOAT: none; LINE-HEIGHT: 14px
}
.pagenav {
	COLOR: #b88
}
.pagenavbar {
	FLOAT: right; MARGIN-RIGHT: 10px
}
.pathway {
	FONT: bold 11px/14px Arial, Helvetica, sans-serif; COLOR: #fff
}
.pathway A:link {
	COLOR: #eef; TEXT-DECORATION: none
}
.pathway A:visited {
	COLOR: #eef; TEXT-DECORATION: none
}
.pathway A:active {
	COLOR: #fff
}
.pathway A:hover {
	COLOR: #fff
}
.inputbox {
	BORDER-RIGHT: #ccc 3px double; PADDING-RIGHT: 2px; BORDER-TOP: #ccc 3px double; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; FONT: 11px Arial, Helvetica, sans-serif; BORDER-LEFT: #ccc 3px double; PADDING-TOP: 2px; BORDER-BOTTOM: #ccc 3px double; BACKGROUND-COLOR: #fff
}
.componentheading {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND-IMAGE: url(../images/head_compo_bg.png); PADDING-BOTTOM: 0px; MARGIN: 0px 0px 5px; FONT: bold 13px/23px Arial, Helvetica, sans-serif; TEXT-TRANSFORM: uppercase; COLOR: #eef; TEXT-INDENT: 5px; PADDING-TOP: 0px; BACKGROUND-COLOR: #235; TEXT-ALIGN: left
}
.contentheading {
	FONT: bold 17px/17px Arial, Helvetica, sans-serif; COLOR: #346; TEXT-ALIGN: left
}
.contentpagetitle {
	FONT: bold 17px/17px Arial, Helvetica, sans-serif; COLOR: #346; TEXT-ALIGN: left
}
A.contentpagetitle:link {
	COLOR: #346
}
A.contentpagetitle:visited {
	COLOR: #346
}
A.contentpagetitle:active {
	COLOR: #678
}
A.contentpagetitle:hover {
	COLOR: #678
}
.contentcolumn {
	PADDING-RIGHT: 5px
}
.contentdescription {
	
}
A.category {
	FONT: 12px Arial, Helvetica, sans-serif; TEXT-TRANSFORM: uppercase; TEXT-DECORATION: none
}
.content_rating {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 5px; PADDING-TOP: 0px
}
.content_vote {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 5px; PADDING-TOP: 0px
}
.small {
	FONT: 10px/12px Arial, Helvetica, sans-serif; COLOR: #999
}
.createdate {
	FONT: 10px/16px Arial, Helvetica, sans-serif; COLOR: #345
}
.modifydate {
	FONT: 10px/16px Arial, Helvetica, sans-serif; COLOR: #345
}
.pagenavcounter {
	
}
TABLE.contenttoc {
	BORDER-RIGHT: #ccc 3px double; PADDING-RIGHT: 1px; BORDER-TOP: #ccc 3px double; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; MARGIN: 0px 0px 2px 2px; BORDER-LEFT: #ccc 3px double; WIDTH: 160px; PADDING-TOP: 1px; BORDER-BOTTOM: #ccc 3px double
}
TABLE.contenttoc TH {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FONT-WEIGHT: bold; FONT-SIZE: 11px; PADDING-BOTTOM: 2px; TEXT-TRANSFORM: uppercase; COLOR: #fff; PADDING-TOP: 2px; BACKGROUND-COLOR: #789; TEXT-ALIGN: left
}
TABLE.contenttoc TD {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
.blog_more {
	BORDER-TOP-WIDTH: 0px; CLEAR: both; PADDING-RIGHT: 10px; PADDING-LEFT: 10px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 10px; MARGIN: 5px 0px; WIDTH: 93%; PADDING-TOP: 10px; BORDER-RIGHT-WIDTH: 0px
}
.blog_more UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.blog_more LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; LIST-STYLE-IMAGE: url(../images/readon.png); PADDING-BOTTOM: 0px; MARGIN: 2px 0px 2px 30px; PADDING-TOP: 0px
}
A.blogsection {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; FONT: bold 11px/16px Arial, Helvetica, sans-serif; COLOR: #345; PADDING-TOP: 0px; TEXT-ALIGN: left; BORDER-RIGHT-WIDTH: 0px
}
A.blogsection:visited {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; FONT: bold 11px/16px Arial, Helvetica, sans-serif; COLOR: #345; PADDING-TOP: 0px; TEXT-ALIGN: left; BORDER-RIGHT-WIDTH: 0px
}
A.blogsection:hover {
	COLOR: #567
}
.searchintro {
	MARGIN: 15px 0px 5px; WIDTH: 100%
}
.highlight {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; COLOR: blue; PADDING-TOP: 0px; BACKGROUND-COLOR: yellow
}
.sectiontableheader {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; BACKGROUND: #ddd; PADDING-BOTTOM: 4px; FONT: bold 12px/24px Arial, Helvetica, sans-serif; COLOR: #345; PADDING-TOP: 4px
}
TR.sectiontableheader TH {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; BACKGROUND: #ddd; PADDING-BOTTOM: 4px; FONT: bold 12px/24px Arial, Helvetica, sans-serif; COLOR: #345; PADDING-TOP: 4px
}
.sectiontablefooter {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; BACKGROUND: #ddd; PADDING-BOTTOM: 4px; FONT: bold 12px/24px Arial, Helvetica, sans-serif; COLOR: #345; PADDING-TOP: 4px
}
TABLE.sectiontable TR.sectiontableentry1 TD {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px
}
TABLE.sectiontable TR.sectiontableentry2 TD {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px
}
TR.sectiontableentry1 {
	BACKGROUND-COLOR: #fff
}
TR.sectiontableentry2 {
	BACKGROUND-COLOR: #eee
}
A.mainlevel:link {
	PADDING-RIGHT: 0px; BORDER-TOP: #07c 1px solid; DISPLAY: block; PADDING-LEFT: 0px; BACKGROUND: url(../images/menu_bg.png) #069 no-repeat left center; PADDING-BOTTOM: 3px; FONT: bold 11px/14px Arial, Helvetica, sans-serif; VERTICAL-ALIGN: middle; WIDTH: 100%; COLOR: #eef; TEXT-INDENT: 19px; PADDING-TOP: 3px; BORDER-BOTTOM: #046 1px solid; TEXT-DECORATION: none
}
A.mainlevel:visited {
	PADDING-RIGHT: 0px; BORDER-TOP: #07c 1px solid; DISPLAY: block; PADDING-LEFT: 0px; BACKGROUND: url(../images/menu_bg.png) #069 no-repeat left center; PADDING-BOTTOM: 3px; FONT: bold 11px/14px Arial, Helvetica, sans-serif; VERTICAL-ALIGN: middle; WIDTH: 100%; COLOR: #eef; TEXT-INDENT: 19px; PADDING-TOP: 3px; BORDER-BOTTOM: #046 1px solid; TEXT-DECORATION: none
}
A.mainlevel:active {
	BORDER-TOP: #fc6 1px solid; BACKGROUND: url(../images/menu_bg.png) #f90 no-repeat -176px center; COLOR: #ffffcc; BORDER-BOTTOM: #c70 1px solid; TEXT-DECORATION: none
}
A.mainlevel:hover {
	BORDER-TOP: #fc6 1px solid; BACKGROUND: url(../images/menu_bg.png) #f90 no-repeat -176px center; COLOR: #ffffcc; BORDER-BOTTOM: #c70 1px solid; TEXT-DECORATION: none
}
A#active_menu {
	
}
A.sublevel:link {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; FONT: bold 11px/14px Arial, Helvetica, sans-serif; VERTICAL-ALIGN: middle; COLOR: #f60; TEXT-INDENT: 25px; PADDING-TOP: 0px; TEXT-DECORATION: none
}
A.sublevel:visited {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; FONT: bold 11px/14px Arial, Helvetica, sans-serif; VERTICAL-ALIGN: middle; COLOR: #f60; TEXT-INDENT: 25px; PADDING-TOP: 0px; TEXT-DECORATION: none
}
A.sublevel:active {
	COLOR: #a30; TEXT-DECORATION: none
}
A.sublevel:hover {
	COLOR: #a30; TEXT-DECORATION: none
}
UL#mainlevel-nav {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
UL#mainlevel-nav LI {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 0px; MARGIN: 1px; BORDER-LEFT: #ccc 1px solid; WIDTH: 98px; PADDING-TOP: 0px; BORDER-BOTTOM: #ccc 1px solid; WHITE-SPACE: nowrap
}
UL#mainlevel-nav LI A {
	PADDING-RIGHT: 1px; DISPLAY: block; PADDING-LEFT: 1px; BACKGROUND: #9ab; FILTER: alpha(opacity='90'); PADDING-BOTTOM: 1px; MARGIN: 0px; FONT: bold 11px/12px Arial, Helvetica, sans-serif; WIDTH: 100%; COLOR: #fff; TEXT-INDENT: 4px; PADDING-TOP: 1px; TEXT-DECORATION: none; moz-opacity: 0.90; opacity: 0.90
}
UNKNOWN {
	WIDTH: auto
}
UL#mainlevel-nav LI A:hover {
	BACKGROUND: #bcd; COLOR: #fff
}
.code {
	BORDER-RIGHT: #bbb 1px solid; BORDER-TOP: #bbb 1px solid; BORDER-LEFT: #bbb 1px solid; BORDER-BOTTOM: #bbb 1px solid; BACKGROUND-COLOR: #ddd
}
DIV.mosimage {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; BORDER-BOTTOM: #ccc 1px solid
}
.mosimage {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; MARGIN: 5px; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid
}
.mosimage_caption {
	PADDING-RIGHT: 2px; BORDER-TOP: #cccccc 1px solid; MARGIN-TOP: 2px; PADDING-LEFT: 2px; FONT-SIZE: 10px; BACKGROUND: #efefef; PADDING-BOTTOM: 1px; COLOR: #666; PADDING-TOP: 1px
}
