BODY {
	SCROLLBAR-FACE-COLOR: #94c02b; MARGIN: 0px; SCROLLBAR-HIGHLIGHT-COLOR: #ffffff; SCROLLBAR-SHADOW-COLOR: #333333; COLOR: #ffffff; SCROLLBAR-3DLIGHT-COLOR: #333333; SCROLLBAR-ARROW-COLOR: #ffffff; SCROLLBAR-TRACK-COLOR: #f0f0f0; SCROLLBAR-DARKSHADOW-COLOR: #f0f0f0; SCROLLBAR-BASE-COLOR: #333333; BACKGROUND-COLOR: #ffffff
}
TD {
	FONT-SIZE: 11px; COLOR: #333333; FONT-FAMILY: Arial, Helvetica, sans-serif
}
TR {
	FONT-SIZE: 11px; COLOR: #333333; FONT-FAMILY: Arial, Helvetica, sans-serif
}
P {
	FONT-SIZE: 11px; COLOR: #333333; FONT-FAMILY: Arial, Helvetica, sans-serif
}
DIV {
	FONT-SIZE: 11px; COLOR: #333333; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.ontab {
	FONT-WEIGHT: normal; CURSOR: hand; COLOR: #333333; BACKGROUND-COLOR: #f0f0f0; TEXT-ALIGN: center
}
.offtab {
	FONT-WEIGHT: normal; CURSOR: hand; COLOR: #333333; BACKGROUND-COLOR: #cccccc; TEXT-ALIGN: center
}
.tabpadding {
	
}
.tabheading {
	BACKGROUND-COLOR: #333333; TEXT-ALIGN: left
}
.pagetext {
	DISPLAY: none; VISIBILITY: hidden; POSITION: relative; TOP: 0px
}
H4 {
	FONT-WEIGHT: bold; FONT-SIZE: 15px; COLOR: #94c02b; FONT-FAMILY: Arial, Helvetica, sans-serif
}
H5 {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #94c02b; FONT-FAMILY: Arial, Helvetica, sans-serif
}
H6 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #94c02b; FONT-FAMILY: Arial, Helvetica, sans-serif
}
A:link {
	FONT-SIZE: 11px; COLOR: #94c02b; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A:visited {
	FONT-SIZE: 11px; COLOR: #94c02b; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A:hover {
	COLOR: #94c02b; TEXT-DECORATION: none
}
HR {
	BORDER-RIGHT: 2px inset; BORDER-TOP: 2px inset; BACKGROUND: #94c02b; BORDER-LEFT: 2px inset; BORDER-BOTTOM: 2px inset; HEIGHT: 1px
}
HR.separator {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BACKGROUND: #94c02b; BORDER-LEFT: 0px; WIDTH: 75px; BORDER-BOTTOM: 0px; HEIGHT: 1px
}
A.mainlevel:link {
	PADDING-RIGHT: 3px; DISPLAY: list-item; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; WIDTH: 100%; COLOR: #333333; PADDING-TOP: 3px; HEIGHT: 12px; TEXT-ALIGN: left
}
A.mainlevel:visited {
	PADDING-RIGHT: 3px; DISPLAY: list-item; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; WIDTH: 100%; COLOR: #333333; PADDING-TOP: 3px; HEIGHT: 12px; TEXT-ALIGN: left
}
A.mainlevel:hover {
	BORDER-TOP-WIDTH: 1px; PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-WEIGHT: normal; PADDING-BOTTOM: 3px; WIDTH: 100%; COLOR: #94c02b; BORDER-TOP-COLOR: #cccccc; PADDING-TOP: 3px; HEIGHT: 13px; BACKGROUND-COLOR: #efefef; TEXT-ALIGN: center; TEXT-DECORATION: none
}
A.mainmenu:link {
	FONT-WEIGHT: normal; COLOR: #94c02b
}
A.mainmenu:visited {
	FONT-WEIGHT: normal; COLOR: #94c02b
}
A.mainmenu:hover {
	COLOR: #94c02b; TEXT-DECORATION: underline
}
A.sublevel:hover {
	FONT-SIZE: 11px; COLOR: #94c02b; TEXT-ALIGN: right; TEXT-DECORATION: none
}
A.sublevel:link {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #94c02b; TEXT-ALIGN: right
}
A.sublevel:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #94c02b; TEXT-ALIGN: right
}
A.contentpagetitle:link {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #94c02b; TEXT-ALIGN: left
}
A.contentpagetitle:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #94c02b; TEXT-ALIGN: left
}
A.contentpagetitle:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #94c02b; TEXT-ALIGN: left; TEXT-DECORATION: underline
}
.contentpane {
	BACKGROUND-COLOR: #333333
}
.contentpaneopen {
	BORDER-RIGHT: #f0f0f0 0px ridge; BORDER-TOP: #f0f0f0 0px ridge; BORDER-LEFT: #f0f0f0 0px ridge; BORDER-BOTTOM: #f0f0f0 0px ridge
}
.contentheading {
	BACKGROUND-POSITION: left top; FONT-WEIGHT: normal; FONT-SIZE: 14px; COLOR: #94c02b; TEXT-INDENT: 30px; LINE-HEIGHT: 25px; BACKGROUND-REPEAT: no-repeat; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 15px; TEXT-ALIGN: left
}
.contentpagetitle {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #94c02b; TEXT-ALIGN: left
}
TABLE.contenttoc {
	COLOR: #94c02b; BACKGROUND-COLOR: #e0e0e0
}
TABLE.contenttoc TD {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-ALIGN: left
}
.contentdescription {
	FONT-SIZE: 11px; COLOR: #999999; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-ALIGN: left
}
A.blogsection:link {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #999999; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.blogsection:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #999999; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.blogsection:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #94c02b; TEXT-DECORATION: underline
}
A.weblinks:link {
	FONT-WEIGHT: normal; COLOR: #999999; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.weblinks:visited {
	FONT-WEIGHT: normal; COLOR: #999999; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.weblinks:hover {
	COLOR: #94c02b; TEXT-DECORATION: underline
}
A.readon:link {
	PADDING-RIGHT: 2px; DISPLAY: list-item; PADDING-LEFT: 2px; FONT-WEIGHT: normal; FONT-SIZE: 10px; PADDING-BOTTOM: 2px; COLOR: #999999; PADDING-TOP: 2px; FONT-FAMILY: Arial, Helvetica, sans-serif; WHITE-SPACE: normal; LIST-STYLE-TYPE: disc; TEXT-DECORATION: none
}
A.readon:visited {
	PADDING-RIGHT: 2px; DISPLAY: list-item; PADDING-LEFT: 2px; FONT-WEIGHT: normal; FONT-SIZE: 10px; PADDING-BOTTOM: 2px; COLOR: #999999; PADDING-TOP: 2px; FONT-FAMILY: Arial, Helvetica, sans-serif; WHITE-SPACE: normal; LIST-STYLE-TYPE: disc; TEXT-DECORATION: none
}
A.readon:hover {
	PADDING-RIGHT: 2px; DISPLAY: list-item; PADDING-LEFT: 2px; FONT-WEIGHT: normal; FONT-SIZE: 10px; PADDING-BOTTOM: 2px; COLOR: #94c02b; PADDING-TOP: 2px; FONT-FAMILY: Arial, Helvetica, sans-serif; WHITE-SPACE: normal; LIST-STYLE-TYPE: disc; TEXT-DECORATION: underline
}
TABLE.moduletable {
	BORDER-RIGHT: #94c02b 0px dashed; BORDER-TOP: #94c02b 0px dashed; MARGIN: 0px; BORDER-LEFT: #94c02b 0px dashed; WIDTH: 98%; BORDER-BOTTOM: #94c02b 0px dashed; align: left
}
TABLE.moduletable TH {
	PADDING-RIGHT: 5px; DISPLAY: block; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 11px; BORDER-BOTTOM-WIDTH: 0px; BORDER-BOTTOM-COLOR: #94c02b; PADDING-BOTTOM: 5px; WIDTH: 100%; COLOR: #94c02b; TEXT-INDENT: 0px; LINE-HEIGHT: 9px; PADDING-TOP: 5px; FONT-FAMILY: Arial, Helvetica, sans-serif; LETTER-SPACING: 2px; HEIGHT: 8px; BACKGROUND-COLOR: #e6e6e6; TEXT-ALIGN: left
}
TABLE.moduletable TD {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.componentheading {
	BACKGROUND-POSITION: left top; FONT-WEIGHT: normal; FONT-SIZE: 14px; BACKGROUND-IMAGE: url(../images/blank.gif); COLOR: #94c02b; TEXT-INDENT: 30px; LINE-HEIGHT: 25px; BACKGROUND-REPEAT: no-repeat; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 15px; TEXT-ALIGN: left
}
.button {
	BORDER-RIGHT: #dae4f8 1px solid; BORDER-TOP: #dae4f8 1px solid; FONT-WEIGHT: normal; FONT-SIZE: 10px; BACKGROUND: white; BORDER-LEFT: #dae4f8 1px solid; COLOR: #333333; BORDER-BOTTOM: #dae4f8 1px solid; FONT-FAMILY: arial, Verdana, Geneva, Helvetica, serif; HEIGHT: 15px; TEXT-ALIGN: center
}
.inputbox {
	BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; FONT-WEIGHT: normal; FONT-SIZE: 10px; BACKGROUND: #a5d310; BORDER-LEFT: 1px solid; COLOR: #333333; BORDER-BOTTOM: 1px solid; FONT-FAMILY: Arial, Helvetica, sans-serif
}
A.pathway:link {
	FONT-WEIGHT: normal; FONT-SIZE: 9px; COLOR: #333333; TEXT-DECORATION: none
}
A.pathway:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 9px; COLOR: #333333; TEXT-DECORATION: none
}
A.pathway:hover {
	COLOR: #cccccc; TEXT-DECORATION: underline
}
.category {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #94c02b; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.category:link {
	FONT-WEIGHT: bold; COLOR: #94c02b
}
A.category:visited {
	FONT-WEIGHT: bold; COLOR: #94c02b
}
A.category:hover {
	COLOR: #94c02b
}
.poll {
	FONT-SIZE: 10px; COLOR: #666666; LINE-HEIGHT: 14px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.sectiontableentry1 {
	
}
.contentpane {
	BACKGROUND-COLOR: #cccccc
}
.sectiontableentry2 {
	
}
.sectiontableheader {
	FONT-WEIGHT: bold; COLOR: #94c02b; BACKGROUND-COLOR: #ffffff
}
.small {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #999999; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.smalldark {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #333333; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.newsfeedheading {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #333333; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-ALIGN: left
}
.newsfeeddate {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #a7cf43; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.createdate {
	FONT-WEIGHT: normal; FONT-SIZE: 9px; COLOR: #999999; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.modifydate {
	FONT-WEIGHT: normal; FONT-SIZE: 9px; COLOR: #999999; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
UL {
	MARGIN: 0px
}
LI {
	LIST-STYLE-POSITION: inside; LIST-STYLE-IMAGE: url(../images/arrow.gif); 2px: 
}
.fase4rdf {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #242d0c; FONT-FAMILY: Arial, Helvetica, sans-serif
}
A.fase4rdf:link {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #405115
}
A.fase4rdf:hover {
	FONT-WEIGHT: bold; COLOR: #759328
}
TABLE.searchintro {
	BORDER-RIGHT: #759328 1px solid; BORDER-TOP: #759328 1px solid; BORDER-LEFT: #759328 1px solid; BORDER-BOTTOM: #759328 1px solid; BACKGROUND-COLOR: #ffffff
}
TABLE.contact {
	BACKGROUND-COLOR: #333333
}
TABLE.contact TD.icons {
	BACKGROUND-COLOR: #333333
}
TABLE.contact TD.details {
	FONT-SIZE: 10px; BACKGROUND-COLOR: #333333
}
.pagenav {
	FONT-WEIGHT: normal; FONT-SIZE: 9px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
A.pagenav {
	FONT-WEIGHT: bold; COLOR: #759328
}
A.pagenav:visited {
	FONT-WEIGHT: bold; COLOR: #759328
}
A.pagenav:hover {
	COLOR: #d6e5aa
}
.pagenavbar {
	
}
.content_rating {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt
}
.content_vote {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt
}
A.bar:link {
	FONT-WEIGHT: normal; FONT-SIZE: 9px; COLOR: #94c02b; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.bar:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 9px; COLOR: #94c02b; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.bar:hover {
	COLOR: #94c02b; TEXT-DECORATION: none
}
.searchbox {
	BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; FONT-WEIGHT: normal; FONT-SIZE: 10px; BACKGROUND: #dae4f8; BORDER-LEFT: 1px solid; COLOR: #333333; LINE-HEIGHT: 15px; BORDER-BOTTOM: 1px solid; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 15px
}
.title {
	FONT-WEIGHT: bold; FONT-SIZE: larger; LINE-HEIGHT: normal; FONT-STYLE: normal; LETTER-SPACING: 4px; FONT-VARIANT: normal
}
.moscode {
	BACKGROUND-COLOR: #f0f0f0
}
.message {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #ff6600; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-ALIGN: center
}
.pathway {
	FONT-SIZE: 9px; COLOR: #333333; FONT-FAMILY: Arial, Helvetica, sans-serif
}
