BODY {
	BACKGROUND: white
}
DIV#main {
	BORDER-RIGHT: #5b3700 1px solid; BORDER-TOP: #5b3700 1px solid; BORDER-LEFT: #5b3700 1px solid; WIDTH: 778px; BORDER-BOTTOM: #5b3700 1px solid
}
TABLE {
	WIDTH: 100%
}
TABLE TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: top; PADDING-TOP: 0px
}
A {
	FONT-WEIGHT: bold; COLOR: #5b3700; TEXT-DECORATION: none
}
A:hover {
	COLOR: #e58900
}
TD#topheader {
	PADDING-RIGHT: 5px; BACKGROUND: #5b3700; COLOR: #666666; HEIGHT: 15px; TEXT-ALIGN: right
}
TD#middleheader {
	BACKGROUND: url(../images/logo_banner.jpg) no-repeat; VERTICAL-ALIGN: middle; HEIGHT: 80px; width:778px; TEXT-ALIGN: right
}
TD#bottomheader {
	BORDER-TOP: #5b3700 2px solid; PADDING-LEFT: 178px; FONT-SIZE: 70%; BACKGROUND: #f4e8d6; COLOR: #5b3700; BORDER-BOTTOM: #5b3700 2px solid; FONT-FAMILY: Arial, Helvetica, sans-serif; LETTER-SPACING: 2px; TEXT-ALIGN: left
}
A.pathway {
	FONT-WEIGHT: bold; COLOR: #5b3700; TEXT-DECORATION: none
}
A.pathway:visited {
	FONT-WEIGHT: bold; COLOR: #5b3700; TEXT-DECORATION: none
}
A.pathway:hover {
	COLOR: #e58900; TEXT-DECORATION: none
}
.clear {
	CLEAR: both
}
DIV#button_wrap {
	
}
DIV#buttons {
	FLOAT: right
}
UL#mainlevel-nav {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 0.8em; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
UL#mainlevel-nav LI {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FONT-SIZE: 11px; FLOAT: right; MARGIN: 0px; WIDTH: auto; LINE-HEIGHT: 21px; WHITE-SPACE: nowrap
}
UL#mainlevel-nav LI A {
	PADDING-RIGHT: 15px; DISPLAY: block; PADDING-LEFT: 15px; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: white; TEXT-DECORATION: none
}
UL#mainlevel-nav LI A:hover {
	COLOR: #e58900
}
TD#leftside {
	BACKGROUND: #e9c086; WIDTH: 185px
}
DIV.search {
	FLOAT: right; MARGIN: 0px 0px 5px; WIDTH: 163px
}
TABLE.moduletable {
	BORDER-RIGHT: #000000 0px solid; BORDER-TOP: #000000 0px solid; MARGIN: 0px 0px 10px; BORDER-LEFT: #000000 0px solid; WIDTH: 100%; BORDER-BOTTOM: #000000 0px solid
}
TABLE.moduletable TH {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND: #e58900; VERTICAL-ALIGN: middle; TEXT-TRANSFORM: uppercase; WIDTH: 100%; COLOR: white; BORDER-BOTTOM: #666666 1px solid; LETTER-SPACING: 1px; HEIGHT: 24px; TEXT-ALIGN: center
}
TABLE.moduletable TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
TABLE.moduletable UL {
	COLOR: #ff0000
}
A.mainlevel:link {
	DISPLAY: block; PADDING-LEFT: 25px; FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND: url(../images/menu_bg.gif) no-repeat; VERTICAL-ALIGN: middle; COLOR: #5b3700; PADDING-TOP: 3px; FONT-FAMILY: Arial, Helvetica, sans-serif; LETTER-SPACING: 1px; HEIGHT: 26px; TEXT-ALIGN: left; TEXT-DECORATION: none
}
A.mainlevel:visited {
	DISPLAY: block; PADDING-LEFT: 25px; FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND: url(../images/menu_bg.gif) no-repeat; VERTICAL-ALIGN: middle; COLOR: #5b3700; PADDING-TOP: 3px; FONT-FAMILY: Arial, Helvetica, sans-serif; LETTER-SPACING: 1px; HEIGHT: 26px; TEXT-ALIGN: left; TEXT-DECORATION: none
}
A.mainlevel:hover {
	COLOR: #e58900; TEXT-DECORATION: none
}
#active_menu {
	FONT-WEIGHT: bold; COLOR: #e58900; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.inputbox {
	BORDER-RIGHT: #9da6b3 1px solid; BORDER-TOP: #9da6b3 1px solid; FONT-WEIGHT: normal; BACKGROUND: white; BORDER-LEFT: #9da6b3 1px solid; COLOR: #666666; BORDER-BOTTOM: #9da6b3 1px solid
}
.button {
	BORDER-RIGHT: #5b3700 1px solid; BORDER-TOP: #5b3700 1px solid; MARGIN-TOP: 5px; FONT-WEIGHT: bold; FONT-SIZE: 9px; BORDER-LEFT: #5b3700 1px solid; COLOR: #5b3700; BORDER-BOTTOM: #5b3700 1px solid; BACKGROUND-COLOR: #f4e8d6; TEXT-ALIGN: center
}
TD#rightside {
	BACKGROUND: #e9c086; WIDTH: 140px
}
.poll {
	FONT-SIZE: 30px; LINE-HEIGHT: 14px
}
TABLE.pollstableborder {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px
}
.sectiontableentry2 {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; BACKGROUND-COLOR: #f4e8d6
}
.sectiontableentry1 {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; BACKGROUND-COLOR: #e9c086
}
TD#content {
	BACKGROUND: white
}
#sandbox_area TH {
	COLOR: #5b3700; BORDER-BOTTOM: #cccccc 1px solid; BACKGROUND-COLOR: white
}
#sandbox_area UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 1em; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-FAMILY: Arial, Helvetica, sans-serif; LIST-STYLE-TYPE: none
}
#sandbox_area LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 1em; PADDING-BOTTOM: 0px; PADDING-TOP: 0.2em; LETTER-SPACING: 1px; TEXT-ALIGN: left
}
#sandbox_area A {
	TEXT-DECORATION: none
}
#sandbox_area A:link {
	COLOR: #5b3700
}
#sandbox_area A:visited {
	COLOR: #5b3700
}
#sandbox_area A:hover {
	COLOR: #e58900
}
DIV#user1_outline {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; FLOAT: left; MARGIN-LEFT: 2px; BORDER-LEFT: #cccccc 1px solid; WIDTH: 49%; BORDER-BOTTOM: #cccccc 1px solid; TEXT-ALIGN: center
}
DIV.user2_outline {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; FLOAT: right; BORDER-LEFT: #cccccc 1px solid; WIDTH: 49%; MARGIN-RIGHT: 2px; BORDER-BOTTOM: #cccccc 1px solid; TEXT-ALIGN: left
}
TD#mainbody {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 0.75em; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.contentpaneopen {
	BORDER-TOP: #cccccc 1px solid; MARGIN-LEFT: 1px; MARGIN-RIGHT: 1px
}
.contentheading {
	PADDING-LEFT: 3px; FONT-SIZE: 1.1em; COLOR: #e58900
}
.small {
	FONT-SIZE: 1em; COLOR: black
}
.createdate {
	FONT-SIZE: 0.8em; COLOR: #cccccc
}
.modifydate {
	FONT-SIZE: 0.8em; COLOR: #cccccc
}
.highlight {
	BACKGROUND-COLOR: yellow
}
.readon {
	
}
.syndicate {
	
}
.blog_more {
	
}
.blogsection {
	
}
.back_button {
	
}
.buttonheading {
	
}
.contact_email {
	BACKGROUND: #cccccc
}
.toclink {
	
}
.pagenavcounter {
	WIDTH: 300px; PADDING-TOP: 10px
}
TABLE.contenttoc {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 2px; FONT-SIZE: 0.7em; MARGIN-BOTTOM: 2px; PADDING-BOTTOM: 2px; MARGIN-LEFT: 2px; BORDER-LEFT: #cccccc 1px solid; WIDTH: 15em; PADDING-TOP: 2px; BORDER-BOTTOM: #cccccc 1px solid
}
TABLE.contenttoc TH {
	PADDING-LEFT: 4px; FONT-WEIGHT: bold; FONT-SIZE: 10px; BACKGROUND: #999999; TEXT-TRANSFORM: uppercase; COLOR: white; PADDING-TOP: 2px; BORDER-BOTTOM: #cccccc 1px solid; HEIGHT: 21px; TEXT-ALIGN: left
}
DIV.contact_email {
	BACKGROUND: #f4e8d6
}
DIV.max {
	FONT-SIZE: 0.8em; PADDING-TOP: 15px; color=#FF6600
}
A.max {
	COLOR: #cccccc
}
