.clr {
	CLEAR: both
}
#main_outline {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 2px; BACKGROUND: #ffffff; PADDING-BOTTOM: 2px; BORDER-LEFT: #cccccc 1px solid; WIDTH: 808px; PADDING-TOP: 2px; BORDER-BOTTOM: #cccccc 1px solid
}
#pathway_outline {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; FLOAT: left; MARGIN-BOTTOM: -2px; BORDER-LEFT: #cccccc 1px solid; WIDTH: 635px; BORDER-BOTTOM: #cccccc 1px solid
}
#pathway {
	PADDING-RIGHT: 3px; PADDING-LEFT: 5px; FLOAT: left; PADDING-BOTTOM: 3px; PADDING-TOP: 4px
}
#buttons {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 50%; PADDING-TOP: 0px
}
UL#mainlevel-nav {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 0.8em; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
UL#mainlevel-nav LI {
	BORDER-RIGHT: #c6b184 1px solid; PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FONT-SIZE: 11px; FLOAT: right; BACKGROUND-IMAGE: none; MARGIN: 0px; BORDER-LEFT: #daccaf 1px solid; WIDTH: 15%; LINE-HEIGHT: 21px; WHITE-SPACE: nowrap
}
UL#mainlevel-nav LI A {
	PADDING-RIGHT: 15px; DISPLAY: block; PADDING-LEFT: 15px; COLOR: #ac692d; TEXT-DECORATION: none
}
UNKNOWN {
	WIDTH: auto
}
UL#mainlevel-nav LI A:hover {
	COLOR: #ff6600
}
#search {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 0px; OVERFLOW: hidden; BORDER-LEFT: #cccccc 1px solid; WIDTH: 165px; PADDING-TOP: 0px; BORDER-BOTTOM: #cccccc 1px solid; HEIGHT: 23px
}
#search .inputbox {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 3px; BORDER-TOP: 0px; PADDING-LEFT: 5px; FONT-SIZE: 11px; PADDING-BOTTOM: 3px; BORDER-LEFT: 0px; WIDTH: 159px; COLOR: #ff6600; PADDING-TOP: 3px; BORDER-BOTTOM: 0px; FONT-FAMILY: arial, helvetica, sans-serif; HEIGHT: 19px
}
#header_area {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; MARGIN: 0px; BORDER-LEFT: 0px; WIDTH: 802px! important; BORDER-BOTTOM: 0px; TEXT-ALIGN: left
}
#header {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../images/header_short.jpg) no-repeat; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 635px; PADDING-TOP: 0px; HEIGHT: 150px
}
#top_outline {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 2px; FLOAT: left; PADDING-BOTTOM: 2px; MARGIN-LEFT: 2px; OVERFLOW: hidden; BORDER-LEFT: #cccccc 1px solid; WIDTH: 165px; PADDING-TOP: 2px; BORDER-BOTTOM: #cccccc 1px solid; HEIGHT: 150px
}
#left_outline {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #cccccc 1px solid; MARGIN-TOP: 2px; PADDING-LEFT: 2px; FLOAT: left; PADDING-BOTTOM: 2px; BORDER-LEFT: #cccccc 1px solid; WIDTH: 165px; PADDING-TOP: 2px; BORDER-BOTTOM: #cccccc 1px solid
}
#content_area {
	PADDING-RIGHT: 0px; MARGIN-TOP: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN-LEFT: 2px; WIDTH: 635px; PADDING-TOP: 0px
}
#banner_area {
	MARGIN-TOP: 2px; MARGIN-BOTTOM: -3px; WIDTH: 635px
}
#banner {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; WIDTH: 468px; PADDING-TOP: 0px
}
#poweredby {
	FLOAT: left; MARGIN-LEFT: 2px
}
#sandbox_area_2 .sandbox_area {
	MARGIN-TOP: 2px; FLOAT: left; WIDTH: 468px
}
#sandbox_area_1 .sandbox_area {
	MARGIN-TOP: 2px; FLOAT: left; WIDTH: 635px
}
#right_outline {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #cccccc 1px solid; MARGIN-TOP: 2px; PADDING-LEFT: 2px; FLOAT: right; PADDING-BOTTOM: 2px; BORDER-LEFT: #cccccc 1px solid; WIDTH: 165px; PADDING-TOP: 2px; BORDER-BOTTOM: #cccccc 1px solid
}
#user1_2 .user1_outline {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 2px; FLOAT: left; PADDING-BOTTOM: 2px; MARGIN: 0px 0px 2px; BORDER-LEFT: #cccccc 1px solid; WIDTH: 233px; PADDING-TOP: 2px; BORDER-BOTTOM: #cccccc 1px solid
}
#user2_2 .user2_outline {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 2px; FLOAT: right; MARGIN-BOTTOM: 2px; PADDING-BOTTOM: 2px; MARGIN-LEFT: 2px; BORDER-LEFT: #cccccc 1px solid; WIDTH: 233px; PADDING-TOP: 2px; BORDER-BOTTOM: #cccccc 1px solid
}
#user1_1 .user1_outline {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 2px; FLOAT: left; PADDING-BOTTOM: 2px; MARGIN: 0px 0px 2px; BORDER-LEFT: #cccccc 1px solid; WIDTH: 468px; PADDING-TOP: 2px; BORDER-BOTTOM: #cccccc 1px solid
}
#user2_1 .user2_outline {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 2px; FLOAT: right; MARGIN-BOTTOM: 2px; PADDING-BOTTOM: 2px; BORDER-LEFT: #cccccc 1px solid; WIDTH: 468px; PADDING-TOP: 2px; BORDER-BOTTOM: #cccccc 1px solid
}
#user1_4 .user1_outline {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 2px; FLOAT: left; PADDING-BOTTOM: 2px; MARGIN: 0px 0px 2px; BORDER-LEFT: #cccccc 1px solid; WIDTH: 317px; PADDING-TOP: 2px; BORDER-BOTTOM: #cccccc 1px solid
}
#user2_4 .user2_outline {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 2px; FLOAT: right; MARGIN-BOTTOM: 2px; PADDING-BOTTOM: 2px; MARGIN-LEFT: 2px; BORDER-LEFT: #cccccc 1px solid; WIDTH: 316px; PADDING-TOP: 2px; BORDER-BOTTOM: #cccccc 1px solid
}
#user1_3 .user1_outline {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 2px; FLOAT: left; PADDING-BOTTOM: 2px; MARGIN: 0px 0px 2px; BORDER-LEFT: #cccccc 1px solid; WIDTH: 635px; PADDING-TOP: 2px; BORDER-BOTTOM: #cccccc 1px solid
}
#user2_3 .user2_outline {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 2px; FLOAT: right; MARGIN-BOTTOM: 2px; PADDING-BOTTOM: 2px; BORDER-LEFT: #cccccc 1px solid; WIDTH: 635px; PADDING-TOP: 2px; BORDER-BOTTOM: #cccccc 1px solid
}
#sandbox_area_2 .content_outline {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; BORDER-LEFT: #cccccc 1px solid; WIDTH: 468px; PADDING-TOP: 2px; BORDER-BOTTOM: #cccccc 1px solid
}
#sandbox_area_1 .content_outline {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; BORDER-LEFT: #cccccc 1px solid; WIDTH: 635px; PADDING-TOP: 2px; BORDER-BOTTOM: #cccccc 1px solid
}
#active_menu {
	FONT-WEIGHT: bold; COLOR: #ffcc00
}
A#active_menu:hover {
	COLOR: #ff6600
}
.maintitle {
	PADDING-LEFT: 15px; FONT-WEIGHT: bold; FONT-SIZE: 30px; COLOR: #ff6600; LINE-HEIGHT: normal; PADDING-TOP: 20px
}
.error {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 14px; PADDING-BOTTOM: 5px; TEXT-TRANSFORM: uppercase; COLOR: #cccccc; PADDING-TOP: 5px; FONT-STYLE: italic
}
.back_button {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #cccccc 1px solid; MARGIN-TOP: 15px; PADDING-LEFT: 4px; FONT-WEIGHT: bold; FONT-SIZE: 11px; FLOAT: left; MARGIN-BOTTOM: 10px; PADDING-BOTTOM: 4px; BORDER-LEFT: #cccccc 1px solid; WIDTH: 40px; PADDING-TOP: 4px; BORDER-BOTTOM: #cccccc 1px solid
}
.pagenav {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 4px; FONT-WEIGHT: bold; FONT-SIZE: 11px; PADDING-BOTTOM: 4px; MARGIN: 1px; BORDER-LEFT: #cccccc 1px solid; WIDTH: auto; PADDING-TOP: 4px; BORDER-BOTTOM: #cccccc 1px solid; TEXT-ALIGN: center
}
.pagenavbar {
	PADDING-RIGHT: 5px; FLOAT: right
}
#footer {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; TEXT-ALIGN: center
}
UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
LI {
	BACKGROUND-POSITION: 0px 3px; PADDING-LEFT: 15px; BACKGROUND-IMAGE: url(../images/arrow.png); LINE-HEIGHT: 15px; PADDING-TOP: 0px; BACKGROUND-REPEAT: no-repeat
}
TD {
	FONT-SIZE: 11px; TEXT-ALIGN: left
}
BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 11px; BACKGROUND: #fff7d8; PADDING-BOTTOM: 0px; MARGIN: 15px; COLOR: #333333; PADDING-TOP: 0px; FONT-FAMILY: Arial, Helvetica, Sans Serif; HEIGHT: 100%
}
A:link {
	FONT-WEIGHT: bold; COLOR: #ff6600; TEXT-DECORATION: none
}
A:visited {
	FONT-WEIGHT: bold; COLOR: #ff6600; TEXT-DECORATION: none
}
A:hover {
	FONT-WEIGHT: bold; COLOR: #ffcc00; TEXT-DECORATION: none
}
TABLE.contentpaneopen {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; WIDTH: 100%; PADDING-TOP: 0px; BORDER-COLLAPSE: collapse; border-spacing: 0px
}
TABLE.contentpane TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
TABLE.contentpane TD.componentheading {
	PADDING-LEFT: 4px
}
TABLE.contentpane TD.contentheading {
	PADDING-LEFT: 15px; PADDING-TOP: 9px
}
.button {
	BORDER-RIGHT: #c0a07c 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #c0a07c 1px solid; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 11px; PADDING-BOTTOM: 2px; BORDER-LEFT: #c0a07c 1px solid; COLOR: #ff6600; PADDING-TOP: 2px; BORDER-BOTTOM: #c0a07c 1px solid; FONT-FAMILY: Arial, Helvetica, Sans Serif; HEIGHT: 22px; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: center
}
.inputbox {
	BORDER-RIGHT: #c0a07c 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #c0a07c 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; BORDER-LEFT: #c0a07c 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #c0a07c 1px solid; BACKGROUND-COLOR: #ffffff
}
#sandbox_area_2 .componentheading {
	PADDING-LEFT: 4px; FONT-WEIGHT: bold; FONT-SIZE: 10px; BACKGROUND: url(../images/subhead_bg.png) repeat-x; TEXT-TRANSFORM: uppercase; WIDTH: 462px; COLOR: #666666; PADDING-TOP: 4px; HEIGHT: 21px; TEXT-ALIGN: left
}
#sandbox_area_1 .componentheading {
	PADDING-LEFT: 4px; FONT-WEIGHT: bold; FONT-SIZE: 10px; BACKGROUND: url(../images/subhead_bg.png) repeat-x; TEXT-TRANSFORM: uppercase; WIDTH: 629px; COLOR: #666666; PADDING-TOP: 4px; HEIGHT: 21px; TEXT-ALIGN: left
}
.contentcolumn {
	PADDING-RIGHT: 5px
}
.contentheading {
	PADDING-LEFT: 15px; FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND: url(../images/contenthead.png) repeat-x; COLOR: #666666; PADDING-TOP: 9px; WHITE-SPACE: nowrap; HEIGHT: 30px; TEXT-ALIGN: left
}
.contentpagetitle {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #cccccc; TEXT-ALIGN: left
}
TABLE.searchinto {
	WIDTH: 100%
}
TABLE.searchintro TD {
	FONT-WEIGHT: bold
}
TABLE.moduletable {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; MARGIN-BOTTOM: 5px; PADDING-BOTTOM: 0px; WIDTH: 100%; PADDING-TOP: 0px; BORDER-COLLAPSE: collapse; border-spacing: 0px
}
TABLE.moduletable TH {
	PADDING-LEFT: 4px; FONT-WEIGHT: bold; FONT-SIZE: 10px; BACKGROUND: url(../images/subhead_bg.png) repeat-x; TEXT-TRANSFORM: uppercase; COLOR: #666666; PADDING-TOP: 4px; HEIGHT: 21px; TEXT-ALIGN: left
}
TABLE.moduletable TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
TABLE.pollstableborder TD {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
.sectiontableheader {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FONT-WEIGHT: bold; BACKGROUND: #f0f0f0; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
.sectiontablefooter {
	
}
.sectiontableentry1 {
	BACKGROUND-COLOR: #ffffff
}
.sectiontableentry2 {
	BACKGROUND-COLOR: #f9f9f9
}
.small {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #999999
}
.createdate {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; PADDING-BOTTOM: 10px; COLOR: #999999; HEIGHT: 15px
}
.modifydate {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #999999; PADDING-TOP: 10px; HEIGHT: 15px
}
TABLE.contenttoc {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 2px; MARGIN-BOTTOM: 2px; PADDING-BOTTOM: 2px; MARGIN-LEFT: 2px; BORDER-LEFT: #cccccc 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #cccccc 1px solid
}
TABLE.contenttoc TH {
	PADDING-LEFT: 4px; FONT-WEIGHT: bold; FONT-SIZE: 10px; BACKGROUND: url(../images/subhead_bg.png) repeat-x; TEXT-TRANSFORM: uppercase; COLOR: #666666; PADDING-TOP: 2px; HEIGHT: 21px; TEXT-ALIGN: left
}
A.mainlevel:link {
	DISPLAY: block; PADDING-LEFT: 18px; FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND: url(../images/menu_bg.png) no-repeat; VERTICAL-ALIGN: middle; WIDTH: 100%; COLOR: #9a7743; PADDING-TOP: 5px; HEIGHT: 24px; TEXT-ALIGN: left; TEXT-DECORATION: none
}
A.mainlevel:visited {
	DISPLAY: block; PADDING-LEFT: 18px; FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND: url(../images/menu_bg.png) no-repeat; VERTICAL-ALIGN: middle; WIDTH: 100%; COLOR: #9a7743; PADDING-TOP: 5px; HEIGHT: 24px; TEXT-ALIGN: left; TEXT-DECORATION: none
}
A.mainlevel:hover {
	BACKGROUND-POSITION: 0px -25px; COLOR: #fc6401; TEXT-DECORATION: none
}
A.sublevel:link {
	PADDING-LEFT: 1px; FONT-WEIGHT: bold; FONT-SIZE: 11px; VERTICAL-ALIGN: middle; COLOR: #ff6600; TEXT-ALIGN: left
}
A.sublevel:visited {
	PADDING-LEFT: 1px; FONT-WEIGHT: bold; FONT-SIZE: 11px; VERTICAL-ALIGN: middle; COLOR: #ff6600; TEXT-ALIGN: left
}
A.sublevel:hover {
	COLOR: #ffcc00; TEXT-DECORATION: none
}
.highlight {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 0px; COLOR: blue; PADDING-TOP: 0px; BACKGROUND-COLOR: yellow
}
.code {
	BORDER-RIGHT: #bbb 1px solid; BORDER-TOP: #bbb 1px solid; BORDER-LEFT: #bbb 1px solid; BORDER-BOTTOM: #bbb 1px solid; BACKGROUND-COLOR: #ddd
}
HR {
	BORDER-TOP: #ffffff 1px solid; BORDER-BOTTOM: #dbceb0 1px solid
}
