BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; SCROLLBAR-FACE-COLOR: #0e1741; PADDING-BOTTOM: 0px; MARGIN: 0px; SCROLLBAR-SHADOW-COLOR: #455795; COLOR: #465675; SCROLLBAR-ARROW-COLOR: #ffffff; PADDING-TOP: 0px; FONT-FAMILY: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif; SCROLLBAR-BASE-COLOR: #6d8693; scrollbar-dark-shadow-color: black; scrollbar-3d-light-color: #455795	
MARGIN: 0px
}
A:link {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #213953; FONT-FAMILY: Tahoma, Verdana, Helvetica, sans-serif; TEXT-DECORATION: none
}
A:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #213953; FONT-FAMILY: Tahoma, Verdana, Helvetica, sans-serif; TEXT-DECORATION: none
}
A:hover {
	COLOR: #4ba0d6
}
UL {
	MARGIN: 0px
}
LI {
	LIST-STYLE-POSITION: inside
}
TD {
	FONT-SIZE: 11px
}
HR {
	BORDER-RIGHT: #314b77 1px solid; BORDER-TOP: #314b77 1px solid; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-LEFT: #314b77 1px solid; BORDER-BOTTOM: #314b77 1px solid; HEIGHT: 1px
}
HR.separator {
	BORDER-RIGHT: #314b77 1px solid; BORDER-TOP: #314b77 1px solid; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-LEFT: #314b77 1px solid; WIDTH: 75px; BORDER-BOTTOM: #314b77 1px solid; HEIGHT: 1px
}
.pagenavbar {
	
}
.pagenav {
	FONT-WEIGHT: normal
}
A.pagenav {
	FONT-WEIGHT: bold; COLOR: #343a58
}
A.pagenav:visited {
	FONT-WEIGHT: bold; COLOR: #343a58
}
A.pagenav:hover {
	COLOR: #4ba0d6
}
.small {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #343a58; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-DECORATION: none
}
.smalldark {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #343a58; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-DECORATION: none
}
.button {
	BORDER-RIGHT: #000066 1px solid; BORDER-TOP: #000066 1px solid; MARGIN-TOP: 4px; FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND: #94b1cf; BORDER-LEFT: #000066 1px solid; COLOR: #213953; BORDER-BOTTOM: #000066 1px solid; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; HEIGHT: 20px; TEXT-ALIGN: center
}
.inputbox {
	BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; FONT-SIZE: 12px; BACKGROUND: #ffffff; BORDER-LEFT: 1px solid; COLOR: #343a58; BORDER-BOTTOM: 1px solid; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif
}
.pagetext {
	DISPLAY: none; VISIBILITY: hidden; POSITION: relative; TOP: 0px
}
.createdate {
	FONT-WEIGHT: normal; FONT-SIZE: 9px; COLOR: #343a58; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-DECORATION: none
}
.modifydate {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #343a58; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.readon:link {
	PADDING-LEFT: 15px; FONT-SIZE: 10px; BACKGROUND: url(../images/readon.gif) no-repeat 3px 50%; COLOR: #23598d; FONT-FAMILY: Tahoma, Verdana, Helvetica, sans-serif; TEXT-ALIGN: left; TEXT-DECORATION: none
}
A.readon:visited {
	PADDING-LEFT: 15px; FONT-SIZE: 10px; BACKGROUND: url(../images/readon.gif) no-repeat 3px 50%; COLOR: #23598d; FONT-FAMILY: Tahoma, Verdana, Helvetica, sans-serif; TEXT-ALIGN: left; TEXT-DECORATION: none
}
A.readon:hover {
	TEXT-DECORATION: underline
}
.contentpane {
	BACKGROUND-COLOR: #ffffff
}
.contentpaneopen {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 11px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: justify
}
.contentheading {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 15px; PADDING-BOTTOM: 5px; COLOR: #4ba0d6; PADDING-TOP: 5px; BORDER-BOTTOM: #4ba0d6 2px solid; FONT-FAMILY: Tahoma, Verdana, Helvetica, sans-serif; TEXT-ALIGN: center
}
.contentpagetitle {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #213953; FONT-FAMILY: Tahoma, Verdana, Helvetica, sans-serif; TEXT-ALIGN: left
}
.contentdescription {
	FONT-SIZE: 11px; COLOR: #4ba0d6; FONT-FAMILY: Tahoma, Verdana, Helvetica, sans-serif; TEXT-ALIGN: left
}
TABLE.contenttoc {
	BORDER-RIGHT: #465675 1px solid; BORDER-TOP: #465675 1px solid; BORDER-LEFT: #465675 1px solid; COLOR: #343a58; BORDER-BOTTOM: #465675 1px solid; BACKGROUND-COLOR: #e0e0e0
}
TABLE.contenttoc TD {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-WEIGHT: normal; FONT-SIZE: 8pt; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-ALIGN: left
}
.content_rating {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt
}
.content_vote {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt
}
.category {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #3d4e6d; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.category:link {
	FONT-WEIGHT: bold; COLOR: #3d4e6d
}
A.category:visited {
	FONT-WEIGHT: bold; COLOR: #3d4e6d
}
A.category:hover {
	COLOR: #4ba0d6
}
A.blogsection:link {
	FONT-SIZE: 10px; COLOR: #213953; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.blogsection:visited {
	FONT-SIZE: 10px; COLOR: #213953; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.blogsection:hover {
	FONT-SIZE: 10px; COLOR: #4ba0d6; TEXT-DECORATION: underline
}
.componentheading {
	PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #4ba0d6; BORDER-BOTTOM: #4ba0d6 2px solid; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-ALIGN: left
}
TABLE.moduletable {
	MARGIN: 0px; WIDTH: 100%; FONT-FAMILY: Tahoma, Verdana, Helvetica, sans-serif
}
TABLE.moduletable TH {
	PADDING-LEFT: 20px; FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND: url(../images/thheader.jpg); TEXT-TRANSFORM: uppercase; COLOR: #fff; PADDING-TOP: 5px; FONT-FAMILY: Tahoma, Verdana, Helvetica, sans-serif; HEIGHT: 25px; TEXT-ALIGN: left
}
.sectiontableheader {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-WEIGHT: bold; PADDING-BOTTOM: 2px; COLOR: #ffffff; PADDING-TOP: 2px; BACKGROUND-REPEAT: repeat; BACKGROUND-COLOR: #213953
}
.sectiontableentry1 {
	COLOR: black; BACKGROUND-COLOR: #bed2eb
}
.sectiontableentry2 {
	COLOR: #4ba0d6; BACKGROUND-COLOR: #f3f3f3
}
.poll {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #343a58; LINE-HEIGHT: 14px; FONT-FAMILY: Tahoma, Verdana, Helvetica, sans-serif
}
.pollstableborder {
	BORDER-RIGHT: #465675 1px solid; BORDER-TOP: #465675 1px solid; BORDER-LEFT: #465675 1px solid; BORDER-BOTTOM: #465675 1px solid
}
A.weblinks:link {
	FONT-WEIGHT: normal; COLOR: #213953; FONT-FAMILY: Tahoma, Verdana, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.weblinks:visited {
	FONT-WEIGHT: normal; COLOR: #213953; FONT-FAMILY: Tahoma, Verdana, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.weblinks:hover {
	COLOR: #4ba0d6; TEXT-DECORATION: underline
}
.newsfeedheading {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #343a58; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif
}
.newsfeeddate {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #343a58; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif
}
.fase4rdf {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #343a58; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif
}
A.fase4rdf:link {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #356c82
}
A.fase4rdf:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #4ba0d6
}
TABLE.searchintro {
	BORDER-RIGHT: #8d9abc 1px solid; BORDER-TOP: #8d9abc 1px solid; BORDER-LEFT: #8d9abc 1px solid; BORDER-BOTTOM: #8d9abc 1px solid; BACKGROUND-COLOR: #ffffff
}
.newsflash {
	FONT-SIZE: 11px; COLOR: black; PADDING-TOP: 10px; TEXT-ALIGN: justify
}
UNKNOWN {
	FONT-SIZE: 11px; MARGIN-BOTTOM: 20px; FONT-FAMILY: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif; POSITION: relative
}
#menuvertical .navvirtcontainer {
	
}
#menuvertical .navvirtcontainer UL {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; BORDER-LEFT: medium none; WIDTH: auto; BORDER-BOTTOM: medium none; LIST-STYLE-TYPE: none
}
#menuvertical .navvirtcontainer LI {
	MARGIN-LEFT: -40px; BORDER-BOTTOM: white 1px solid; LIST-STYLE-TYPE: none
}
#menuvertical .navvirtcontainer LI A {
	PADDING-RIGHT: 10px; DISPLAY: block; PADDING-LEFT: 0px; FONT-WEIGHT: bold; PADDING-BOTTOM: 5px; TEXT-TRANSFORM: uppercase; WIDTH: auto; COLOR: #fff; PADDING-TOP: 5px; BACKGROUND-COLOR: #213953; TEXT-ALIGN: right; TEXT-DECORATION: none
}
#menuvertical .navvirtcontainer LI A:hover {
	BACKGROUND-COLOR: #4ba0d6
}
